
// -------------------------
$icon-font-path       : "../../fonts/";
$theme-font-path      :"../../fonts/";

// Image
// -------------------------
$image-theme-path     :'../../image/green/';
$image-theme-path-base:'../../image/'!default;

$green              :#94c766;
$theme-color        :$green; 
$topbar-outside-bg  :#fff;
$header-top-bg      :#f5f9ea;
$panel-pink-border  :#e34d86 !default;
$panel-cyan-border  :#00b8c4 !default;
$panel-red-border   :#fd5c6d !default;