
// -------------------------
$icon-font-path       : "../../fonts/";
$theme-font-path      :"../../fonts/";

// Image
// -------------------------
$image-theme-path     :'../../image/red/';
$image-theme-path-base:'../../image/'!default;

$red              :#f14a46;
$theme-color        :$red; 
$topbar-outside-bg  :#fff;
$header-top-bg      :#f0f0f0;
$panel-cyan-border  :#00b8c4 !default;
$panel-red-border   :#fd5c6d !default;
$search-button-bg   :#393939 !default;
$panel-pink-text:     #ff9c31 !default;
$panel-pink-border:#ff9c31 !default;
