// auto search
.search-auto{
    padding-top:15px;
}
.autosearch-wrapper {
    margin: 10px 0 0;
    background:$white;
    color: $black;   
    height: 42px;
    .input-group-btn {
        position: relative;
        &:after {
            background: $white;
            line-height: 40px;
            position: absolute;
            @include rtl-right(19px);
            text-align: center;
            top: 0;
            font-family: 'FontAwesome';
            content: "\f107";
            font-size:$font-size-base + 2;
            @include size(35px,40px);
            color: #343434;

        }       
    }
    .category_filter{
        border: none;
        display: inline-block;
        font-size:$font-size-base - 1;
        color: $text-color;
        height: 40px;
        line-height: 30px;
        @include rtl-margin-right(30px);
        @include box-shadow(inherit);
        background-color:$white;
        @include rtl-border-left(1px solid rgba(153,153,153,0.25));
        @include rtl-padding-left(10px);
        text-transform: capitalize;
        @media(max-width: $screen-xs) {
            max-width: 130px;
        }
    }
    .search_query{
        background-color: transparent;
        border: 0;
        height: 40px;
        &:focus {
            @include box-shadow(inherit);
        }
    }
    .input-group {
        width: 100%;
        @include rtl-padding-right(35px);
    }
    .button-search {
        position: absolute;
        @include rtl-right(0);
        top: 0;
        z-index: 10;
        border: 0;
        @include size(42px,42px);
        color: $white;
        padding:0;
        font-size: $font-size-base + 1;
        background-color:$search-button-bg;
    }
    .dropdown-menu {
        z-index: 999;
        > li {
            &.clearfix {
                border-bottom: 1px dashed $border-color-base;
                margin-left: 10px;
                margin-right: 10px;
            }
            &:last-child {
                border-bottom: none;
            }
            > a {
                padding: 0;
            }
            .media-body{
                @include rtl-padding-left(10px);
            }
        }
    }
}