// newsletter
.valid{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom:-25px;
    z-index: 9999;
}
.newsletter{
	input{
		background: $power-bg-outside;
		border-color:transparent;
	}
    .form-control:focus{
        border-color:transparent;
    }
}
