// banner builder
.banner-wrapper-margin {
    .banner-wrapper {
        margin-bottom: 20px;
    }
}
.image-item-margin {
    .image-item {
        margin-bottom: 20px;
    }
}
.nomargin .box {
    margin-bottom: 0;
}


/* slidelayer */
.layerslider-wrapper{
    overflow: hidden;
    &:hover{
        .tp-rightarrow {
            right: 20px !important;
        }       
        .tp-leftarrow{
            left: 20px !important;
        }
    }
}
.tparrows {
    position:absolute;
    top:50% !important;
    z-index:9999;
    cursor:pointer;
    display: block;
    @include size(45px,45px);
    @include transition(all 0.3s ease-in-out 0s);
    font-size: 0;
    &:before {
        color: #bbbbbb;
        content: "\f105";
        display: inline-block;
        font: 20px/45px "FontAwesome";
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        @include size(45px,45px);
        @include rounded-corners(100%);
        z-index: 12;
        background-color: $white;
    }
    &.tp-leftarrow {
        &:before {
            content: "\f104";
        }
    }
    &:hover {
        &:before {
            background-color: $theme-color;
            color: $white;
        }
    }
}
.tp-leftarrow {
    left:-50px !important;
}
.tp-rightarrow {
    right:-50px !important;
}
/* wedgit product list */
.box-products{
    position:relative;
    z-index: 9;
}



.effect-carousel-v2{
    .carousel-controls-v1{
        position:absolute;
        @include rtl-right(0);
        .carousel-control{
            @include opacity(0);
            @include transition(all 0.5s ease-in-out 0s);
            top: -20px;
            &.left{
                left:-63px;
            }  
        }       
    }
    &:hover {
        .carousel-control {
           @include opacity(1);
           top: 2px;
        }
    }
}
.effect-carousel{
    .carousel-control{
        @include opacity(0);
        @include transition(all 0.5s ease-in-out 0s);
        &.left{
            left:-45px;
        }   
        &.right{
            right:-45px;
        }       
    }
    &:hover {
        .carousel-control {
           @include opacity(1);
           &.left{
               left: 0;
            }   
            &.right{
                right: 0;
            } 
        }
    }
}
/* listproduct-v2 */
.listproduct-v2{
    .product-v3{
        min-height: 737px;
    }
}
/* icon-box */
.home3{
    .feature-box-v2{
        &.border-right{
            border-right-color:#dbbf58;
        }
        .fbox-body {
            color: #393939;
        }
    }
}
/* wedgit menufature */
.space-bottom{
    .row:nth-child(1){
        margin-bottom: 20px;
    }
}
/* home4 producttab */
.producttab{
    background-color:$white;
    .panel-heading{
        padding:15px 25px;
    }
}