#star input {
background:transparent url(../img/star.png) no-repeat scroll right center;
border:0 none;
cursor:pointer;
height:30px;
width:30px;
padding:0;
vertical-align:middle;}

#star2 input {
background:transparent url(../img/star.png) no-repeat scroll right center;
border:0 none;
cursor:pointer;
height:30px;
width:30px;
padding:0;
vertical-align:middle;}