
/* customize for body,body .home1 */ 
body,body .home1 { 
font-family:inherit 
} 

/* customize for .footer-center,.box-about */ 
.footer-center,.box-about { 
background-color:#ff2929 
} 

/* customize for .footer-center */ 
.footer-center { 
background-image:url(../../image/pattern/pattern14.png) 
} 

/* customize for #footer .footer-center .panel-title,.footer-center .container  */ 
#footer .footer-center .panel-title,.footer-center .container  { 
color:#e8d3d3 
} 

/* customize for .footer-center .container a */ 
.footer-center .container a { 
color:#5aed97 
} 
