
// -------------------------
$icon-font-path       : "../../fonts/";
$theme-font-path      :"../../fonts/";

// Image
// -------------------------
$image-theme-path     :'../../image/blue/';
$image-theme-path-base:'../../image/'!default;

$blue              :#48a7d4;
$theme-color        :$blue; 
$topbar-outside-bg  :#444349;
$header-top-bg      :#fff;
$panel-pink-border  :#e34d86 !default;
$panel-cyan-border  :#00b8c4 !default;
$panel-red-border   :#fd5c6d !default;
$panel-green-text:   #f664a6 !default;
$panel-green-border:  #f664a6 !default;